*,
html{
    margin: 0;
    padding: 0;
}


.bodyblock {}

.navbar{
background-color: darkorchid;
width: 100%;
height: 20vh;
}

.ulnavbar{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.linavbar{
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: aliceblue;
    font-size: 30px;
}
.linavbar:hover{
    background-color: darkgreen;
    transition: .4s ease-in-out;
    transition-delay: .1s;
    border-radius: 12px;
}



.anavbar{
    color: aliceblue;
    text-decoration: none;
    font-weight: 800;
}

.content1{
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
     height: 70vh;
}

.acontent1{
    width: 250px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    color: black;
    text-decoration: none;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.imageshogun{
    
    height: 40%;
    width: 40%;
   
}
.footer {
    height: 10vh;
    background-color: darkorchid;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.h1footer{
    font-size: 40px;
    color: white;
    font-weight: 800;
}